/* quitar margenes */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding: 0px;}


.acordeon__card--boxYFlex{
    width: 60%;
}

.acordeon__ubicacion--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acordeon__cardTitulo--boxYFlex{
  padding-left:0px;
  padding-right:0px;

  }

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}


.nav__logo--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:980px){
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    @media only screen and (min-width:980px) and (max-width:1110px){
        width: 140px;

    }
    @media only screen and (min-width:1111px) and (max-width:1139px){
        width: 180px;

    }
    @media only screen and (min-width:1140px) and (max-width:1300px){
        width: 200px;

    }

}
.navbar{
    padding: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    @media only screen and (min-width:0px) and (max-width:980px){
        display: flex;
        align-items: center;
        justify-content: center;
    }
} 

.navbar-nav{
    align-items: center;
}
.nav-item{
    height: fit-content;

}
.nav_items--boxYFlex{
    padding: 15px;
    margin:25px;
    @media only screen and (min-width:0px) and (max-width:1130px){
        padding: 5px;
        margin: 10px;

    }
    @media only screen and (min-width:1131px) and (max-width:1500px){
        padding: 9px;
        margin: 14px;

    }
}

.boton__nav--boxYFlex{
    margin:10px;
}

.busqueda__contendor--boxYFlex{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
    height: fit-content;
    align-items: center;
    flex-grow: 20px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 20px;
    
}

.iconos__contenedor--box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    position: fixed;
}

.boton__buscar--boxYFlex{
    @extend .boton__publicar--color;
    margin-top:20px!important;
    margin-left: 10px;
    width:150px;
    @media only screen and (min-width:960px) and (max-width:1140px){
        width: 120px;
       

    }

}

/* Redes */
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
    border-radius: 1rem 0 0 0;
}

.icon-instagram{
    background-color:darkmagenta;
    
}
.icon-whatsapp{
    background-color: green;
   
}
.icon-plus{
    background-color: rgb(121, 44, 44);
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
    text-decoration: none;
}

.bienvenida__contenedor--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-top: 60px;
   margin-bottom: 60px;
}

.carrusel__card--boxYFlex{
    padding: 20px;

}

.contenido_card--boxYFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    flex-wrap: wrap;
   
}

.contenido_cardE--boxYFlex{
    @extend .contenido_card--boxYFlex;
    justify-content: flex-start;
}

.carrusel__card--color{
    padding-bottom: 0px;
}

.busco__contenedorTexto--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 120px;
}

.carrusel__imagen--boxYFlex{
    height:  375px;
}

.miniatura__imagenes--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.navbar-toggler{
    @media only screen and (min-width:0px) and (max-width:499px){
        position: relative;
        right: 50px;
    }
    @media only screen and (min-width:500px) and (max-width:614px){
        position: relative;
        right: 110px;
    }
    @media only screen and (min-width:615px) and (max-width:680px){
        position: relative;
        right: 170px;
    }
    @media only screen and (min-width:680px) and (max-width:800px){
        position: relative;
        right: 200px;
    }
    @media only screen and (min-width:800px) and (max-width:980px){
        position: relative;
        right: 260px;
    }
}

.carrusel_tamaño{
    @media only screen and (min-width:0px) and (max-width:800px){
        height: 300px!important;
    }
}

.carousel-caption{
    @media only screen and (min-width:0px) and (max-width:800px){
        height: 80px;
        padding: 2px;
    }

}
.carousel-caption h5{
    @media only screen and (min-width:0px) and (max-width:800px){
       font-size: 12px;
       
    }

}
.carousel-caption p{
    @media only screen and (min-width:0px) and (max-width:800px){
       font-size: 10px;
    }

}

.contenedor__tarjetas--boxYFlex{
    height: 430px; 
    background-color: #FFF9EC;

    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 900px;
     }

}

.contenedor1__tarjetas--boxYFlex{
    height: 430px; 
    background-color: #FFF9EC;

    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 1700px;
     }

}

.miniatura__imagenes--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:740px){
        flex-direction: column;
        margin-top: 0px;
     }
    @media only screen and (min-width:741px) and (max-width:1000px){
        flex-direction: row;
        margin-top: 0px;
     }

}

.carrusel__mobile--tamaño{
    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 200px;
     }

}

.imagenes_chicas--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:740px){
        width: 600px;
        height: 300px;
        align-items: center;
     }


}