@charset "UTF-8";
/* Variables */
body {
  background-color: #FFF9EC;
}

.nav__fondo--color {
  background-color: black !important;
}

.nav__items--color {
  color: white !important;
  font-size: 16px;
}
.nav__items--color:hover {
  transition: 0.8s;
  color: #C69E34 !important;
  text-shadow: 0px 1px 4px #C69E34;
}
@media only screen and (min-width: 0px) and (max-width: 1200px) {
  .nav__items--color {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1200px) and (max-width: 1320px) {
  .nav__items--color {
    font-size: 15px;
  }
}

.boton__publicar--color, .boton__buscar--boxYFlex, .boton__perfil--color {
  background-color: #C69E34;
  border-radius: 40px;
  border: none;
  color: black;
}
.boton__publicar--color:hover, .boton__buscar--boxYFlex:hover, .boton__perfil--color:hover {
  transition: 0.8s;
  background-color: #7E6011;
  color: white;
  box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
}

.boton__perfil--color {
  border-radius: 100px;
}

.acordeon__card1--color {
  background-color: rgba(0, 0, 0, 0.555);
}

.acordeon__cardTitulo--color {
  color: white !important;
  font-size: 35px;
  font-family: "Raleway", sans-serif;
  src: url("tipografia/Raleway-Medium.ttf");
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 5px;
  line-height: 35px;
  padding-left: 0px;
  padding-right: 0px;
  height: 70px;
}
@media only screen and (min-width: 0px) and (max-width: 990px) {
  .acordeon__cardTitulo--color {
    font-size: 25px;
  }
}

.linkPropiedad__color {
  color: black;
}
.linkPropiedad__color:hover {
  text-decoration: none;
  color: black;
}

span {
  margin-top: 0px;
  font-size: 15px;
}

.acordeon__colapso--color {
  background-color: rgba(0, 0, 0, 0.473);
  color: white;
  text-align: center;
  font-weight: bold;
}

.busqueda__titulo--color {
  background-color: #C69E34;
  border-radius: 20px;
  height: 100px;
  margin-bottom: 0px;
  color: black;
  padding-right: 20px;
}

.busqueda__texto--color {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  src: url("tipografia/Raleway-Medium.ttf");
  text-align: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
@media only screen and (min-width: 980px) and (max-width: 1119px) {
  .busqueda__texto--color {
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }
}
@media only screen and (min-width: 1120px) and (max-width: 1280px) {
  .busqueda__texto--color {
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.icono__flotante--color {
  background-color: black;
  color: white;
  font-size: 35px;
}

.busqueda__contendor--color {
  background-color: black;
  color: white;
}

.bienvenida__titulo--color {
  color: #C69E34;
  font-family: "Raleway", sans-serif;
  src: url("tipografia/Raleway-Medium.ttf");
  font-size: 40px;
  font-weight: 500;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.568);
  color: white;
}

.contenedor__card--color {
  background-color: #FFF9EC;
  height: 430px;
}

.card_etiqueta1--color {
  background-color: #C69E34;
  color: black;
  margin-bottom: 0px;
  padding: 5px;
  text-align: center;
  font-size: 14px;
}

.card_etiqueta2--color {
  background-color: black;
  color: white;
  padding: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 14px;
}

.card__precio--color, .card__expensas--color span {
  font-size: 27px;
  font-weight: 700;
}

.card__expensas--color {
  font-weight: 700;
  font-size: 20px;
}

.card__expensas--color span {
  font-size: 20px;
  color: #C69E34;
}

.card__precio--color span, .card__expensas--color span span {
  color: #C69E34;
  font-size: 27px;
  font-weight: 700;
}

.carrusel__card--color {
  background-color: #FFF9EC;
}

.card {
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.busco__imagen--color {
  background-image: url(../imagenes/fondoBusco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.busco__texto--color {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  justify-content: center;
}

.datos__busco--color {
  color: #5a5a5a;
  margin: 5px;
}

.descripcion__busco--color {
  color: black;
  margin-bottom: 70px;
}

.footer__fondo--color {
  background-color: black;
  color: white;
}

.footer__titulo1--color {
  font-size: 18px;
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 20px;
}

/* Responsive */
@media only screen and (min-width: 980px) and (max-width: 1300px) {
  .card-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1300px) {
  .card-text {
    font-size: 14px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1300px) {
  .contenido_card--boxYFlex, .contenido_cardE--boxYFlex {
    font-size: 12px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1300px) {
  .card__precio--color, .card__expensas--color span, .card__expensas--color {
    font-size: 16px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1300px) {
  .card__precio--color span, .card__expensas--color span span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 980px) and (max-width: 1230px) {
  .verificado {
    width: 85px;
  }
}

.navbar-toggler {
  background-color: #C69E34;
}

/* quitar margenes */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0px;
}

.acordeon__card--boxYFlex {
  width: 40%;
}

.acordeon__ubicacion--boxYFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.acordeon__cardTitulo--boxYFlex {
  padding-left: 0px;
  padding-right: 0px;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

@media only screen and (min-width: 0px) and (max-width: 980px) {
  .nav__logo--boxYFlex {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1110px) {
  .nav__logo--boxYFlex {
    width: 140px;
  }
}
@media only screen and (min-width: 1111px) and (max-width: 1139px) {
  .nav__logo--boxYFlex {
    width: 180px;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 1300px) {
  .nav__logo--boxYFlex {
    width: 200px;
  }
}

.navbar {
  padding: 0px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 0px) and (max-width: 980px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.nav_items--boxYFlex {
  padding: 15px;
  margin: 25px;
}
@media only screen and (min-width: 0px) and (max-width: 1130px) {
  .nav_items--boxYFlex {
    padding: 5px;
    margin: 10px;
  }
}
@media only screen and (min-width: 1131px) and (max-width: 1500px) {
  .nav_items--boxYFlex {
    padding: 9px;
    margin: 14px;
  }
}

.boton__nav--boxYFlex {
  margin: 10px;
}

.busqueda__contendor--boxYFlex {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin-bottom: 20px;
  margin-top: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  flex-grow: 20px;
}

.form-row > .col, .form-row > [class*=col-] {
  padding-right: 5px;
  padding-left: 20px;
}

.iconos__contenedor--box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: left;
  position: fixed;
}

.boton__buscar--boxYFlex {
  margin-top: 20px !important;
  margin-left: 10px;
  width: 150px;
}
@media only screen and (min-width: 960px) and (max-width: 1140px) {
  .boton__buscar--boxYFlex {
    width: 120px;
  }
}

/* Redes */
.social-bar {
  position: fixed;
  right: 0;
  top: 35%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: 0.7rem;
  display: flex;
  transition: all 0.5s;
}

.icon-facebook {
  background: #2E406E;
}

.icon-printer {
  background-color: darkcyan;
  border-radius: 1rem 0 0 0;
}

.icon-instagram {
  background-color: darkmagenta;
}

.icon-whatsapp {
  background-color: green;
}

.icon-plus {
  background-color: #792c2c;
  border-radius: 0 0 0 1rem;
}

.icon:hover {
  padding-right: 3rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.42);
  color: white;
  text-decoration: none;
}

.bienvenida__contenedor--boxYFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.carrusel__card--boxYFlex {
  padding: 20px;
}

.contenido_card--boxYFlex, .contenido_cardE--boxYFlex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0px;
  flex-wrap: wrap;
}

.contenido_cardE--boxYFlex {
  justify-content: flex-start;
}

.carrusel__card--color {
  padding-bottom: 0px;
}

.busco__contenedorTexto--boxYFlex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 120px;
}

.carrusel__imagen--boxYFlex {
  height: 375px;
}

.miniatura__imagenes--boxYFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 499px) {
  .navbar-toggler {
    position: relative;
    right: 50px;
  }
}
@media only screen and (min-width: 500px) and (max-width: 614px) {
  .navbar-toggler {
    position: relative;
    right: 110px;
  }
}
@media only screen and (min-width: 615px) and (max-width: 680px) {
  .navbar-toggler {
    position: relative;
    right: 170px;
  }
}
@media only screen and (min-width: 680px) and (max-width: 800px) {
  .navbar-toggler {
    position: relative;
    right: 200px;
  }
}
@media only screen and (min-width: 800px) and (max-width: 980px) {
  .navbar-toggler {
    position: relative;
    right: 260px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .carrusel_tamaño {
    height: 300px !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .carousel-caption {
    height: 80px;
    padding: 2px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .carousel-caption h5 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  .carousel-caption p {
    font-size: 10px;
  }
}

.contenedor__tarjetas--boxYFlex {
  height: 430px;
  background-color: #FFF9EC;
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .contenedor__tarjetas--boxYFlex {
    height: 900px;
  }
}

.contenedor1__tarjetas--boxYFlex {
  height: 430px;
  background-color: #FFF9EC;
}
@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .contenedor1__tarjetas--boxYFlex {
    height: 1700px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .miniatura__imagenes--boxYFlex {
    flex-direction: row;
    margin-top: 0px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1000px) {
  .carrusel__mobile--tamaño {
    height: 200px;
  }
}

/* Efecto de la nav */
.nav-link, .boton__publicar--color, .boton__perfil--color, .boton__buscar--boxYFlex {
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mb-3:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: scale(1.02);
  transition: 0.3s;
}/*# sourceMappingURL=estilo.css.map */