@import "_coloresYTipo";
body , html{
    width: 100%;
    height: 100%;
}
/* quitar margenes */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { padding: 0px;}

.acordeon__card--boxYFlex{
    width: 60%;
    @media only screen and (min-width:0px) and (max-width:700px){
        width: 80%;

    }
}

.acordeon__ubicacion--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acordeon__cardTitulo--boxYFlex{
  padding-left:0px;
  padding-right:0px;

  }

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}


.nav__logo--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:980px){
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

    }
    @media only screen and (min-width:980px) and (max-width:1110px){
        width: 140px;

    }
    @media only screen and (min-width:1111px) and (max-width:1139px){
        width: 180px;

    }
    @media only screen and (min-width:1140px) and (max-width:1300px){
        width: 200px;

    }

}
.navbar{
    padding: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
    @media only screen and (min-width:0px) and (max-width:980px){
        display: flex;
        align-items: center;
        justify-content: center;
    }  
} 

.boton__nav--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:980px){
       height: 45px;
        align-items: center;
        margin: 20px;
        justify-content: center;
    }  

} 

.navbar-toggler{
    justify-content: flex-start;
}
.navbar-nav{
    align-items: center;
} 
.nav-item{
    height: fit-content;

}
.nav_items--boxYFlex{
    padding: 15px;
    margin:25px;
    @media only screen and (min-width:0px) and (max-width:1130px){
        padding: 5px;
        margin: 10px;

    }
    @media only screen and (min-width:1131px) and (max-width:1500px){
        padding: 9px;
        margin: 14px;

    }
}

.boton__nav--boxYFlex{
    margin:10px;
}

.busqueda__contendor--boxYFlex{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    margin-bottom: 20px;
    margin-top: 40px;
    height: fit-content;
    align-items: center;
    flex-grow: 20px;
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 5px;
    padding-left: 20px;
    
}

.iconos__contenedor--box{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: left;
    position: fixed;
}

.boton__buscar--boxYFlex{
    @extend .boton__publicar--color;
    margin-top:20px!important;
    margin-left: 10px;
    width:150px;
    @media only screen and (min-width:960px) and (max-width:1140px){
        width: 120px;
       

    }

}

/* Redes */
.social-bar {
	position: fixed;
	right: 0;
	top: 35%;
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-facebook {
	background: #2E406E;
    border-radius: 1rem 0 0 0;
}

.icon-instagram{
    background-color:darkmagenta;
    
}
.icon-whatsapp{
    background-color: green;
   
}
.icon-plus{
    background-color: rgb(121, 44, 44);
    border-radius: 0 0 0 1rem;
}

.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
    text-decoration: none;
}

.bienvenida__contenedor--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-top: 60px;
   margin-bottom: 60px;
   text-align: center;
}

.carrusel__card--boxYFlex{
    padding: 20px;

}

.contenido_card--boxYFlex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding-left: 0px;
    flex-wrap: wrap;
   
}

.contenido_cardE--boxYFlex{
    @extend .contenido_card--boxYFlex;
    justify-content: flex-start;
}

.carrusel__card--color{
    padding-bottom: 0px;
}

.busco__contenedorTexto--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 120px;
}

.carrusel__imagen--boxYFlex{
    height:  375px;
}

.carruselBase__imagen--boxYFlex{
    height: 430px;
}
/* Sin verificado */
.carrusel__imagen1--boxYFlex{
    height: 404px;

}
.miniatura__imagenes--boxYFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 83%;
}

.navbar-toggler{
    @media only screen and (min-width:0px) and (max-width:499px){
        position: relative;
        right: 50px;
    }
    @media only screen and (min-width:500px) and (max-width:614px){
        position: relative;
        right: 110px;
    }
    @media only screen and (min-width:615px) and (max-width:680px){
        position: relative;
        right: 170px;
    }
    @media only screen and (min-width:680px) and (max-width:800px){
        position: relative;
        right: 200px;
    }
    @media only screen and (min-width:800px) and (max-width:980px){
        position: relative;
        right: 260px;
    }
}

.carrusel_tamaño{
    @media only screen and (min-width:0px) and (max-width:800px){
        height: 300px!important;
    }
}

.carousel-caption{
    @media only screen and (min-width:0px) and (max-width:800px){
        height: 80px;
        padding: 2px;
    }

}
.carousel-caption h5{
    @media only screen and (min-width:0px) and (max-width:800px){
       font-size: 12px;
       
    }

}
.carousel-caption p{
    @media only screen and (min-width:0px) and (max-width:800px){
       font-size: 10px;
    }

}

.contenedor__tarjetas--boxYFlex{
    height: 430px; 
    background-color: #FFF9EC;

    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 900px;
     }

}

.contenedor1__tarjetas--boxYFlex{
    height: 430px; 
    background-color: #FFF9EC;

    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 1700px;
     }

}

.miniatura__imagenes--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:740px){
        flex-direction: column;
        margin-top: 0px;
        height: 40%;
        margin-top: 70px;
        margin-bottom: 0px;
       
        
     }
    @media only screen and (min-width:741px) and (max-width:1000px){
        flex-direction: row;
        margin-top: 0px;
        height: 20%;
     }

}

.carrusel__mobile--tamaño{
    @media only screen and (min-width:0px) and (max-width:1000px){
        height: 200px;
     }

}

.imagenes_chicas--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:500px){
        width: 250px;
        height: 30%;
        align-items: center;
        margin: 30px;
     }
    @media only screen and (min-width:500px) and (max-width:740px){
        width: 450px;
        height: 40%;
        align-items: center;
        margin: 20px;
     }


}

/* modal */
.modal-open {
    overflow: scroll;
}
.modal-backdrop
{
    opacity:0.98 !important;
}

.contendor__modal--boxyflex{
    display: flex;
    justify-content: space-evenly;
}
.texto__modal--boxYFlex{
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px ;
}

.formulario__boxYFlex{
    text-align: left; 
    justify-content: center; 
    align-items: center;
}


.modal__cuerpo--boxYFlex{
    align-items: center;
    justify-content: center;
    padding-bottom:4px ;
}

.modal-header{
    padding-bottom: 0px;
}

.modal-header .close {
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 0px;
}
    
.primermodal__boxYFlex{
    margin-top: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.redes__modal--boxYFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.redes{
    width: 20%;
    &:hover{
        transform: scale(1.08);
        transition: 0.3s;
    }
}

.redes1{
    width: 200px;
    @media only screen and (min-width:0px) and (max-width:500px){
        width: 100px;
     }

}

.especificacion__boxYFlex{
    margin-top: 10px ;
    margin-bottom: 20px ;
    padding-bottom: 0px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    background-color: $dorado;
}

.tarjetaElegir__tamaño--boxYFlex{
    height: 180px;
    margin: 5px;



}

.imagenProf__tamaño{
    margin-bottom: 10px;
    margin-top: 25px;
}

.inicioSesion:hover{
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.493);
}

.modal-dialog-scrollable .modal-body {
     overflow-y: hidden;
     overflow-x: hidden;
}



/* ANUNCIO EN DETALLE */

.nav__anuncio--boxYFlex{
    margin-bottom: 120px;
}

.carrusel_anuncio--boxYFlex{
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 0px;
}

.seccionDerecha__anunciante--boxYFlex{
    padding-top: 0px;
    padding-left: 35px;
}


.anunciante__titulo--boxYFlex{
    margin-bottom: 15px;
    @media only screen and (min-width:0px) and (max-width:1170px){
        font-size: 20px;
       
     }

}
.anunciante__texto--boxYFlex{
    margin-bottom: 15px;
}

.anunciante__verificado--boxYFlex{
    margin-bottom: 20px;
    padding: 7px;
    width: fit-content;
}

.datos__contenedor--boxYFlex{
    margin-left: 20px;
    margin-top: 25px;
    width: 600px;
}
.datos2__contenedor--boxYFlex{
    margin-left: 20px;
    margin-top: 25px;
    width: 296px;
}

.titulo2__anuncio--boxYFlex{
    margin-right: 20px;
    margin-bottom: 3px;
}

.expensas__anuncio--boxYFlex{
    @extend .titulo2__anuncio--boxYFlex;
}

.iconos__contenedor--boxYFlex{
    width: 50%;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.acciones__anuncio--boxYFlex{
    position: absolute;
    z-index: 2;
    margin-left: 50px;
    margin-top: 10px;
}

.visualizacion__contenedor--boxYFlex{
    display: flex;
    padding-right: 20px;
    align-items: center;
}

.visualizacion__icono--boxYFlex{
    padding-right: 3%;
}

.descripcion__contenedor--boxYFlex{
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 0px;
}
.contenedor__contacto--color , .contenedor__visita--color{
    margin: 10px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    
}

@media (min-width: 992px){
.col-lg-4 {
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;}}
    
.descripcion__titulo--boxYFlex{
    padding-top: 20px;
    padding-bottom: 0px;
    width: 70%;
}
.visualizacion__texto--boxYFlex{
    margin: 0px;
}
.formulario__contendor--boxYFlex{
  
   margin: 20px;

}

.contacto__titulo--boxYFlex{
   margin: 0px;
   text-align: center;
}

.boton__consulta--boxYFlex{
    width: 100%;
}
tr{
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 17px;
    height: 50px;
    @media only screen and (min-width:0px) and (max-width:1200px){
        font-size: 13px;
        margin-top: 0px;
       
     }
    @media only screen and (min-width:1201px) and (max-width:1380px){
        font-size: 15px;
        margin-top: 0px;
       
     }
}

.valores__Tabla--boxYFlex{
    width: 15%;
}
.logos__tabla--boxYFlex{
    width: 8.5%;
    
}
.informacion__tabla--boxYFlx{
    width: 30%;
}

.iconos__tamaño{
    width: 40px;
}

.detalle{
    background-color: $negro;
    color: $blanco;
    width: 30%;
    margin-left:50px ;
    position: absolute;
    z-index: 4;
    font-weight: lighter;
    padding: 10px;
    text-align: left;
    opacity: 0%;
    top:150px;
    left: 85px;
    border-radius: 10px;
    line-height: 20px;
    margin-bottom: 0px;
    @media only screen and (min-width:0px) and (max-width:500px){
        margin-left: 5px;
        top:1400px;
        width: 50%;
    }
}

.detalle:hover{
    opacity: 80%;
    transition: 1.0s;
}



.titulo2__anuncio--boxYFlex , .titulo__anuncio--color{
    @media only screen and (min-width:0px) and (max-width:1160px){
        font-size: 18px;
        margin-top: 0px;
       
     }
}

/* Responive */

   
.anuncio__contenedor--boxYFlex{
    max-width: 100%;
    height: 120px;
    margin-left: 0px;
    margin-bottom: 20px;
   
}

.tabla , .tituloCaract , .visualizacion__texto--boxYFlex , .visualizacion__icono--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:500px){
        display: none;
     }

}


.mobile , .titulo_mobile{
    display: none;
    @media only screen and (min-width:0px) and (max-width:500px){
        display: table;
        padding-right: 0px;
        padding-left: 10px;
     }
}

.anunciante{
    width: 80%;
    height: 68%;
    max-height: 68%;
    @media only screen and (min-width:0px) and (max-width:980px){
     width: 50%;
     height: 70%;
     }

}

.col-lg-8 , .col-lg-4 {
    @media only screen and (min-width:0px) and (max-width:400px){
        padding-left: 10px;
        }
   

}

.carrusel__anuncioContenedor--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:400px){
        margin-left: 0px;
          }
   
   
}

a.carousel-control-prev{
    @media only screen and (min-width:0px) and (max-width:400px){
      display: none;
        }

}

.carrusel_anuncio--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:400px){
        padding: 0px;
        width: 310px;
          }
   
}

.publicidadContenedor{
    @media only screen and (min-width:0px) and (max-width:1000px){
      margin-bottom: 210px;
      margin-top: 210px;
          }
    
}

/* MOAL ANUNCIO */
.miniatura_modal{
    display: flex;
    width: 20.4%;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    margin: 25px;
   
}

.modal_fotito:hover{
    opacity: 40%;
    transition: 0.9;
}

.instalaciones{
    display: flex; font-weight: bold;
    @media only screen and (min-width:0px) and (max-width:600px){
       display: inline;
            }
}

.instalaciones_contendor{
    width: 33.3%;
    @media only screen and (min-width:0px) and (max-width:600px){
        width: 100%;
             }
}

.descripcion__titulo--boxYFlex{
    font-size: 25px;
    @media only screen and (min-width:0px) and (max-width:1170px){
        font-size: 20px;
       
     }

}

.detalle_publicidad--boxYFlex{
    color: white;
    text-align: center;
    background-color: gray;
    height: 98%;
    padding-top: 20px;
    width: 80%;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
    &:hover{
        box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25)!important;
        transition: 1.0s;
        transform: scale(1.02);
    }
    @media only screen and (min-width:0px) and (max-width:980px){
        height: 300px;
        margin-top: 20px;
        margin-left: 30px;
       
     }

}

/* Seccion publicar */
.elegir__contenedor--boxYFlex{
 
    text-align: center;
  
}

.elegir__titulo--boxYFlex{
    margin-top: 20px;
    margin-bottom: 20px;

}
.form-row > .col, .form-row > [class*=col-] {
    padding-right: 20px;
    padding-left: 20px;
}

.card__eleccion{
    width: fit-content;
   
    @media only screen and (min-width:0px) and (max-width:980px){
       padding: 80px;
       padding-top: 10px;
       
     }

}
.logos__tabla--boxYFlex, .valores__Tabla--boxYFlex{
    @media only screen and (min-width:0px) and (max-width:980px){
        width: 20%;
        
      }
   
}

.informacion__tabla--boxYFlx {
    @media only screen and (min-width:0px) and (max-width:980px){
        width: 50%;
        
      }
}

.descripcion__contenedor--boxYFlex {
    @media only screen and (min-width:0px) and (max-width:980px){
        width: 70%;
        
      }}

.ancho{
    width: 40%;
}
.boton__elegirCuenta{
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    margin-top: 20px;
}

.card_informacion{
    padding: 30px;
}
