
/* Variables */
$negro: black;
$blanco: white;
$dorado: #C69E34;
$doradoOscuro: #7E6011;
$crema: #FFF9EC;
body{
    background-color:$crema;
}

/* Modificacion en el scroll */
body::-webkit-scrollbar{width: 12px; background-color: #000000;}
body::-webkit-scrollbar-thumb{ background-color:$dorado; border-radius: 5px;}

.modal-body::-webkit-scrollbar{width: 12px; background-color: #ffffff;}
.modal-body::-webkit-scrollbar-thumb{ background-color:$dorado; border-radius: 5px;}

.nav__fondo--color{
    background-color: $negro!important;
}

.nav__items--color{
    color: $blanco !important;
    font-size: 16px;
    &:hover{
        transition: 0.8s;
        color:$dorado !important;
        text-shadow: 0px 1px 4px #C69E34;
    }
    @media only screen and (min-width:0px) and (max-width:1200px){
        font-size: 13px;

    }
    @media only screen and (min-width:1200px) and (max-width:1320px){
        font-size: 15px;

    }
}

.boton__publicar--color{
    background-color: $dorado;
    border-radius: 40px;
    border: none;
    color: $negro;
    &:hover{
        transition: 0.8s;
        background-color:$doradoOscuro;
        color: $blanco;
        box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    }
}


.boton__perfil--color{
    @extend .boton__publicar--color;
    border-radius:100px;
}

.acordeon__card1--color{
    background-color: rgba(0, 0, 0, 0.555);

}

.acordeon__cardTitulo--color{
    color: $blanco !important;
    font-size: 35px;
    font-family:  'Raleway', sans-serif;
    src: url("../tipografia/Raleway-Medium.ttf");
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 5px;
    line-height: 35px;
    padding-left: 0px;
    padding-right: 0px;
    height: 70px;
    @media only screen and (min-width:0px) and (max-width:990px){
        font-size: 25px;

    }
}
.linkPropiedad__color{
    color: $negro;
    &:hover{
        text-decoration: none;
        color: $negro;
    }
}
span{
    margin-top: 0px;
    font-size: 15px;
}

.acordeon__colapso--color{
    background-color: rgba(0, 0, 0, 0.473);
    color: $blanco;
    text-align: center;
    font-weight: bold;

}


.busqueda__titulo--color{
    background-color: $dorado;
    border-radius: 20px;
    height: 100px;
    margin-bottom: 0px;
    color: $negro;
    padding-right: 20px;

}

.busqueda__texto--color{
    font-size: 20px;
    font-family:  'Raleway', sans-serif;
    src: url("../tipografia/Raleway-Medium.ttf");
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    @media only screen and (min-width:980px) and (max-width:1119px){
        font-size: 14px;
        margin-left: 8px;
        margin-right: 8px;

    }

    
    @media only screen and (min-width:1120px) and (max-width:1280px){
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;

    }
}

.icono__flotante--color{
    background-color: $negro;
    color: $blanco;
    font-size: 35px;
}

.busqueda__contendor--color{
    background-color: $negro;
    color: $blanco;
}

.bienvenida__titulo--color{
    color: $dorado;
    font-family: 'Raleway', sans-serif;
    src: url("../tipografia/Raleway-Medium.ttf");
    font-size: 40px;
    font-weight: 500;
    @media only screen and (min-width:0px) and (max-width:499px){
        font-size: 30px;
     
     }
}


.carousel-caption{
    background-color: rgba(0, 0, 0, 0.568);
    color: $blanco;
}

.contenedor__card--color{
    background-color: $crema;
    height: 430px;
}

.card_etiqueta1--color{
    background-color: $dorado;
    color: $negro;
    margin-bottom: 0px;
    padding:5px;
    text-align: center;
    font-size: 14px;
}
.card_etiqueta2--color{
    background-color: $negro;
    color: $blanco;
    padding:5px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
}

.card__precio--color{
    font-size: 27px;
    font-weight: 700;
}
.card__expensas--color{
    font-weight: 700;
    font-size: 20px;
}
.card__expensas--color span{
    @extend .card__precio--color;
    font-size: 20px;
    color: $dorado;
}
.card__precio--color span{
   color: $dorado;
   font-size: 27px;
    font-weight: 700;
}


.carrusel__card--color{
    background-color: $crema;
}

.card{
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25);
}

.busco__imagen--color{
    background-image: url(../imagenes/fondoBusco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $blanco;
}

.busco__texto--color{
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    justify-content: center;
}

.datos__busco--color{
    color: rgb(90, 90, 90);
    margin: 5px;
}

.descripcion__busco--color{
    color: $negro;
    margin-bottom: 70px;

}

.footer__fondo--color{
    background-color:$negro;
    color: $blanco;
}

.footer__titulo1--color{
    font-size: 18px;
    font-weight: lighter;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}


/* Responsive */

.card-title{
    @media only screen and (min-width:980px) and (max-width:1300px){
        font-size: 18px;

}}
.card-text{
    @media only screen and (min-width:980px) and (max-width:1300px){
        font-size: 14px;

}}
.contenido_card--boxYFlex{
    @media only screen and (min-width:980px) and (max-width:1300px){
        font-size: 12px;

}}
.card__precio--color , .card__expensas--color{
    @media only screen and (min-width:980px) and (max-width:1300px){
        font-size: 16px;

}   
}
.card__precio--color span{
    @media only screen and (min-width:980px) and (max-width:1300px){
        font-size: 16px;

}   
}

.verificado{
    @media only screen and (min-width:980px) and (max-width:1230px){
        width: 85px;
}}

.navbar-toggler{
    background-color: $dorado;
}

.modal-title{
    font-size: 30px;
    color: $dorado;
    text-align: center !important;
    width: 99.8%;
}

.boton__modal--color{
    background-color: $dorado;
    color: $negro;
    border: none;
    width: 200px;
    &:hover{
        transition: 0.8s;
        background-color:$doradoOscuro;
        color: $blanco;
        box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    }
}
.boton__modal--color:focus{
        transition: 0.8s;
        background-color:$doradoOscuro;
        color: $blanco;
        box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);

    }
.cerrar__modal--color{
    background-color: $negro;
    color: $blanco;
    &:hover{
        transition: 0.8s;
        box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    }
}
.registro__modal--color{
    background-color: $dorado;
    color: $negro;
    border: none;
    &:hover{
        transition: 0.8s;
        background-color:$doradoOscuro;
        color: $blanco;
        box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    }
}

.registro__modal--color:focus{
    transition: 0.8s;
    background-color:$doradoOscuro;
    color: $blanco;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199); 
}

.boton__modal--color{
   
    @media only screen and (min-width:0px) and (max-width:600px){
        width: auto; }}

.mail__color{
    font-size: 20px;
}

.inicioSesion{
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.144); 
}

.titulo_particular{
    font-size: 18px;
    margin: 10px;
    @media only screen and (min-width:0px) and (max-width:600px){
        font-size: 13px; }
}

.texto_particular{
    font-size: 16px;
    margin: 10px;
    @media only screen and (min-width:0px) and (max-width:600px){
        font-size: 12px; }
    
}
.boton_tamaño{
    font-size: 14px;
    
    @media only screen and (min-width:0px) and (max-width:600px){
        font-size: 12px; }

}

/* ANUNCIO AMPLIADO */

.anunciante__titulo--color{
    color: $dorado;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.anunciante__nombre--color{
    color: $negro;
    font-size: 23px;
    font-weight: bold;
   
}

.anunciante__verificado--color{
    color: $negro;
    background-color: $dorado;
    border-radius: 10px;
}
.anuncio__contenedor--color{
    background-color: $dorado;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    color: $negro;
    margin-left: 40px;
    height: 17%;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
}

.titulo__anuncio--color{
    color: $negro;
    font-family: 'Raleway', sans-serif;
    src: url("../tipografia/Raleway-Medium.ttf");
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0px
}
.titulo2__anuncio--color{
    @extend .titulo__anuncio--color;
    text-align: right;
    font-size: 30px;
}

.expensas__anuncio--color{
    @extend .titulo__anuncio--color;
    text-align: right;
    font-weight: lighter;
    font-size: 20px;
}

.icono__anuncio--color{
    background-color: $negro;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    &:focus{
        background-color: $dorado;
        
    }   
}

.icono__anuncio--color:hover{
    transform: scale(1.08);
    transition: 0.3s;
}

.visualizacion__texto--color{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    padding-top: 8px;
    margin-right: 20px;
    font-size: 18px;
}

.descripcion__titulo--color{
    color: $dorado;
    font-size: 35px;
    font-weight: bold;
}

.descripcion__texto--color{
    color: $negro;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 10px;
    @media only screen and (min-width:0px) and (max-width:500px){
       font-size: 16px;
       padding-left: 10px;
          }
}

.contenedor__contacto--color{
    background-color: $dorado;
    color: $blanco;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.boton__consulta--color{
    background-color: $negro;
    color: $blanco;
    border-radius: 20px;
}

.boton__consulta--color:hover{
    background-color: $doradoOscuro;
    color: $blanco;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.199);
    transition: 0.6s;
}
.boton__visita--color{
    background-color: $dorado;
    color: $negro;
    border-radius: 20px;
   
}

.boton__visita--color:hover{
    background-color: $doradoOscuro;
    color: $negro;
    transition: 0.6s;
   
}
.logos__tabla--color{
    background-color: $dorado;
    padding: 8px;
    border-radius: 10px;
}

.contenedor__visita--color{
    background-color: $negro;
    color: $blanco;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Prueba */

.img-container {
    width: 300px;
    height: 200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .img-container:before {
    content: '';
    width: inherit;
    height: inherit;
    position: absolute;
    background: #000;
    opacity: 0;
    transition: opacity .3s linear;   
  }
  
  .img-container:hover:before { 
    opacity: .75;
  }
  
  .img-container p {
    width: inherit;  
    color: #fff;
    text-align: center;
    position: absolute;
    top: 100%; 
    transition: top .3s linear;
  }
  
  .img-container:hover p {    
    top: 70%;
  }